[user]
	name = Christian Drumm
	email = christian.drumm@hey.com
[core]
	autocrlf = input
[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    ps = push
    pl = pull
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
